aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
Makefile.in
missing
autom4te.cache/
.deps/
io/
parserconf/
utils/.deps/
utils/db/
config.h
config.log
config.status
Makefile
stamp-h1
DEDISbench
DEDISbench-DEDISbench.o
DEDISgen
DEDISgen-DEDISgen.o
DEDISgenutils
DEDISgenutils-DEDISgen-utils.o
INSTALL
benchore/DEDISbench
*.Po
*.o
.dirstamp
./INSTALL
populate/.deps/*
benchcore/duplicates/.deps/DEDISbench-duplicatedist.Po
utils/random/.deps/DEDISbench-random.Po
utils/db/.deps/DEDISbench-berk.Po
populate/.deps/DEDISbench-populate.Po
benchcore/sharedmem/.deps/DEDISbench-sharedmem.Po
benchcore/accesses/.deps/DEDISbench-iodist.Po
benchcore/.deps/DEDISbench-io.Po
INSTALL
.vscode/