.deps/
.libs/
.vscode/
autom4te.cache/
*.o
*.Po
*.lo
*.obj
*.la
.dirstamp
Makefile
Makefile.in
m4/
m4./
aclocal.m4
*.swp
*.DS_Store
*.in

m4/*
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
missing
ltmain.sh
libtool
install-sh
Makefile
src/Makefile
include/Makefile

.deps

*.exe
*.out
*.app
config.h
config.h.in~
DEDISbench
DEDISgen
DEDISgenutils
stamp-h1
alex/
*.Po
benchcore/.deps/DEDISbench-io.Po
benchcore/.deps/DEDISbench-io.Po
results/
conf/defconf.ini
conf/defconf.ini
conf/testeAlex
